*{
    background-color: rgb(35, 209, 209);
}
img{
border-radius: 8px;
 padding: 5px;
 width: 50%;
}

img:hover {
  box-shadow: 0 0 5px 5px #4d00ba80;   
}

figcaption{
    text-transform:none;
    font-style: italic;
    text-align: center;
}
